name: CI for Condition-check
on: 
  workflow_dispatch:
jobs:
  prod-check:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying to production server on branch $GITHUB_REF"
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - run: echo "Nice work, $First_Name. Deploying to production server on branch $GITHUB_REF"
        env:
          First_Name: Nadig, Shreedatta
      - run: chmod u=rwx ./.github/actions/check-secrets-action/test.sh
      - run: ./.github/actions/check-secrets-action/test.ps1
      - run: ./.github/actions/check-secrets-action/test.sh
        env:
            First_Name: Shree
        



