# This is a basic workflow to help you get started with Actions

name: Nodejs-action

# Controls when the workflow will run
on:
  schedule:
    - cron:  '47 7 * * 2'
  workflow_dispatch:
  # Triggers the workflow on push or pull request events but only for the "main" branch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v1
    - name: npm install and build webpack
      run: |
         npm install -g bats
         npm run build
         npm audit fix
      working-directory: ./.github/actions/check-secrets-action
